<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content> -->


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Favourites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="favorites.length > 0; else noFavorites">
    <ion-card
      *ngFor="let article of favorites"
      (click)="openNewsDetails(article)"
    >
      <ion-card-header>
        <ion-card-title>{{article.title}}</ion-card-title>
        <ion-card-subtitle>{{article.publishedAt}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>

  <ng-template #noFavorites>
    <div class="no-favorites-message">
      <p><strong>You have not added any articles to favourites.</strong></p>
      <p>
        To add an article to favourites, navigate  to the <strong>Home</strong> tab and click on an
        article to view its details. Then, click on the "Add to Favourites"
        button.
      </p>
    </div>
  </ng-template>
</ion-content>
